.map {
  width: 100%;
  margin: 100px 0;
  height: 400px;
}

.contact-box {
  @extend %flexbox;
  @include flex-flow(wrap);
  max-width: 750px;
  margin: 0 auto;
  background-color: #f3f3f3; // Light gray background
  border-radius: 10px; // Optional rounded corners
  padding: 20px; // Padding around the box

  form {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .contact-form,
  .contact-details {
    @media #{$desktop} {
      -webkit-flex: 1;
      flex: 1;
    }

    margin: 0 30px;
  }
}

.contact-details {
  font-size: 0.9em;
  text-align: center; // Center the text
}

.privacy-policy-list {
  text-align: left; /* Aligns text to the left */
  font-size: 1em; /* Adjusts the font size to match other text */
  list-style-type: disc; /* Optional: ensures traditional bullet points are used */
  margin-left: 20px; /* Adjusts the margin to align with other content */
  padding-left: 0; /* Removes default padding */
}

.privacy-policy-list li {
  margin-bottom: 10px; /* Adds space between list items */
}
